.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}

.create-room {
  font-size: 10px;
}

.create-room a {
color: deepskyblue;
padding: 14px;
border: 1px solid lightblue;
text-decoration: none;
}

.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room {
  padding: 20px 0 40px;
}

.room-name a {
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}